<ion-header>
  <div> 
    <ion-toolbar class="catiwa-toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="regresar()" fill="clear" color="warning">
          <mat-icon>logout</mat-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="titles" size="small" style="color: white;">
        Asistencia
      </ion-title>
      <ion-buttons slot="end">
        <ion-button color="warning">
          <mat-icon>account_circle</mat-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <qrcode [qrdata]="AngularxQrcode" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
  <h1>Eliga una clase para generar su QR</h1>
  <ion-button (click)="generarQRprog()">Programacion</ion-button>
  <ion-button (click)="generarQResta()">Estadistica</ion-button>
  <ion-button (click)="generarQRport()">Portafolio</ion-button>
</ion-content>