.titles{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: black;
}
.content-title{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.qrContainter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnsContainer *{
    display: flex;
    justify-content: center;
    column-count: 1;
}