<ion-header>
  <div> 
    <ion-toolbar class="catiwa-toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="regresar()" fill="clear" color="warning">
          <mat-icon>logout</mat-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="titles" size="small" style="color: white;">
        Generar QR
      </ion-title>
      <ion-buttons slot="end">
        <ion-button color="warning">
          <mat-icon>account_circle</mat-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="qrContainter">
    <qrcode [qrdata]="AngularxQrcode" [width]="300" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
  <h1 class="titles">Eliga una clase para generar su QR</h1>
  <div class="btnsContainer">
    <ion-button shape="round" color="dark" size="large" (click)="generarQRprog()">Programacion</ion-button>
    <ion-button shape="round" color="dark" size="large" (click)="generarQResta()">Estadistica</ion-button>
    <ion-button shape="round" color="dark" size="large" (click)="generarQRport()">Portafolio</ion-button>
  </div>
</ion-content>