.background{
    --background: url('/assets/error_img/405.png') 0 0/100% 100% no-repeat;
}

.div{
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}