<ion-header></ion-header>
<ion-content>
  <div class="pattern"></div>
  <div id="aqui van las imagenes">
    <div><img class="logo_inst" src="./assets/images/DuocNegativo.png" /></div>
    <div><img class="logo_app" src="./assets/images/RegistrApp3.png" /></div>
  </div>
  <div>
    <ion-card class="carta_posicion">
      <ion-card-header>
        <ion-card-title
          ><div class="t">Iniciar Sesion</div>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="input-container">
          <ion-label class="form-input" position="floating">Usuario</ion-label>
          <ion-input class="form-input" [(ngModel)]="visual_input.username" placeholder="vi.rivas"></ion-input>
        </div>
        <div class="input-container">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="visual_input.password" type="password" inputmode="numeric" placeholder="****"></ion-input>
        </div>
      </ion-card-content>
      <div class="recuperar">
        <a class="link" (click)="recuperar()">¿Olvidaste tu contraseña?</a>
      </div>
    </ion-card>
  </div>
  <div class="boton"><button class="button-86" (click)="iniciarsesion()" size="default">Ingresar</button></div>
</ion-content>
<ion-footer></ion-footer>
